doctype html
// DONE, make it an app
// DONE, connect the messages to system
// DONE, get feedback from system 
// DONE-ish, keep track of directory changes
// DONE, allow for mutli-step commands (move __ to __)
// DONE, have menu bubbles to choose from, like the google assistant
// have a that^ feature that can grab last-used file locations
// have tab-completions
// have keywords that change color/input
// have drag-and-drop files
html
    head
        meta(charset='UTF-8')
        title Reby
        link(rel='stylesheet', href='main.css')
    body
        .border
            form.chat
                #main_container.messages
                    .message
                        .myMessage
                            p It looks beautiful!
                            date
                                b You
                                |  08.03.2016 14:30:7
                    .message
                        .fromThem
                            p It looks like the iPhone message box.
                            date
                                b Reby
                                |  08.03.2016 14:31:22
                    .message
                        .myMessage
                            p Yep, is this design responsive?
                            date
                                b You
                                |  08.03.2016 14:33:32
                    .message
                        .myMessage
                            p By the way when I hover on my message it shows date.
                            date
                                b You
                                |  08.03.2016 14:36:4
                    .message
                        .fromThem
                            p Yes, this is completely responsive.
                            date
                                b Reby
                                |  08.03.2016 14:37:12
                #suggestionBox
                    .suggestion
                        p go to
                    .suggestion
                        p where am I?
                    .suggestion
                        p who am I?
                    .suggestion
                        p whats my ip address?
                    .suggestion
                        p whats my mac address?
                    .suggestion
                        p show files
                #inputBox
                    input(type='text', id="messageInput", placeholder='')
                    input(type='submit', value='Send')
        script(src='jquery.min.js')
        script(src='main.js')

